.detail {
    display: flex;
    justify-content: space-between;
}

.detail_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7rem;
}

.detail_text-descripcion {
    text-align: center;
    width: 40rem;
    margin: 2rem;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.detail_img {
    width: 500px;
    margin-bottom: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.115);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.34);
}

.detail_text-categoria {
    margin: 2rem;
    font-size: 20px;
}

.detail_text-precio{
    font-size: 20px;
}